
<form #simpleForm="" (ngSubmit)="getValue(simpleForm.value)">
<h3>username:<input tupe='text' ngModel name='username' placeholder="enter username"></h3>
 <br>
 <h3>email:<input tupe='text' ngModel name='email' placeholder="enter user email"></h3>
 <br>
 <h3>password:<input tupe='password' ngModel name='password' placeholder="enter user password"></h3>
 <br>
 <h3>confirm password:<input tupe='password' ngModel name='passwordC' placeholder="confirm password"></h3>
 <br>
 <button mat-flat-button color="accent">Singup</button>
</form>